*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #FCF2DC;
    padding: 10px;
    }
body h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    
    }


@media only screen and (max-width: 1023px) and (min-width: 768px) {
    
    }        


@media only screen and (max-width: 767px) {
    }


header{
    background-color: #2b3e4c;
    width: 100%;
    
}


.menu{
    background-color:#2b3e4c;
    text-align: center;
    padding: 1em;
  }

  .menu ul{
     list-style: none;
     display: inline-block;
     padding: auto;
  }

  .menu ul li{
      float: left;
      margin-top: 20px;
  }

  .menu ul li a {
      color: #FCF2DC;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 15px 20px;
  }

   .menu li a:hover{
    text-align: center;
    background-color: #87b867;
    color: #2b3e4c;
}




footer{
    
    background-color: #FCF2DC;
   

}
footer img{
    width: 100%;
    

}
footer p {
    text-align: center;
}


.logoIPET {
    display: block;
    

}


.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    -webkit-animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
    text-align: center;

}
.slider img{
    
    width: 100%;
    height: 50%;

}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


.carreras li{
    padding: 0px 200px;
    text-align: left
}

    